<!DOCTYPE html>
<html>
<head>
	<title>Add Ingredients Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>This Is The Add Ingredients Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/recipes/cuisine">Cuisines</a>
		<a href="/recipes/new">Add Recipe </a>
		<a href="/">logout</a>
	</nav>
	<main>
		<section>
			<ul>
				<h3>Recipe Name:</h3>
				<li><%= savedRecipe.name %></li> 
                <h3>Image:</h3>
                <img src="<%= savedRecipe.recipeImg %>"> 
                <h3>Serves:</h3>
                <li><%= savedRecipe.serves %></li> 
                <h3>Cost:</h3>
                <li><%= savedRecipe.cost %></li> 
                <h3>Cuisine Type:</h3>
                <li><%= savedRecipe.cuisineType %></li> 
                <h3>Instructions:</h3>
                <li><%= savedRecipe.instructions %></li> 

                 <h3>Ingredients:</h3>
                 <% for (let i = 0; i < savedRecipe.ingredients.length; i++) { -%>
                 	 <li><%= savedRecipe.ingredients[i].quantity %> of <%= savedRecipe.ingredients[i].name %></li> 

                 <% } -%>
               
			</ul>
		</section>

		<!--  This section will push ingredients into recipe -->
		<section>
			<form action="/recipes/<%= savedRecipe._id %>?_method=PUT" method="POST">
				<!-- pushing name of ingred and quanttity -->
				<input type="text" name="quantity" placeholder="quantity">
 				<input type="text" name="name" placeholder="name">
				<button>Add Ingredient</button>
			</form>
			<h5> Done adding Ingredients? Go back to<a href="/recipes/<%=savedRecipe._id%>"> Recipes</a></h5>
		</section>
	</main>
</body>
</html>