<!DOCTYPE html>
<html>
<head>
	<title>Edit Recipe</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>This Is The Edit Recipe Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/recipes/cuisine">Cuisines</a>
		<a href="/recipes/new">Add Recipe </a>
		<a href="/">logout</a>
	</nav>
	<main>
		<section>
			
			<form action="" method="POST">

				<h3>Recipe Name:</h3>

				<input type="text" name="name" value="<%=savedRecipe.name%>"><br/>

				<h3>Recipe Image:</h3>


				<input type="text" name="recipeImg" value="<%=savedRecipe.recipeImg%>"><br/>

				<h3>Serves:</h3>
				<input type="text" name="serves" value="<%=savedRecipe.serves%>"><br/>

				<h3>Cost:</h3>
				<input type="text" name="cost" value="<%=savedRecipe.cost%>"><br/>

				<h3>Cuisine</h3>
				<select name="cuisineType" value="<%=savedRecipe.cuisineType%>">
		              <% for(let i = 0; i < cuisineTypes.length; i++) { %>
		                  <option value="<%=cuisineTypes[i]%>"><%=cuisineTypes[i]%></option>
		              <% } %>
				</select><br/>

				<h3>Instructions:</h3>
				<textarea name="instructions" value="<%=savedRecipe.instructions%>"></textarea><br/>


                 <h3>Ingredients:</h3>
                 <% for (let i = 0; i < savedRecipe.ingredients.length; i++) { -%>
                 	<input type="text" name="ingredients" value="<%= savedRecipe.ingredients[i].quantity %>"><br/> 
                 	<li>of</li>
                 	<input type="text" name="ingredients" value="<%= savedRecipe.ingredients[i].name %>"><br/><br/> 
                 	 

                 <% } -%>




				<button>UpdateRecipe</button>
			</form>

		</section>
	</main>
</body>
</html>
