<!DOCTYPE html>
<html>
<head>
	<title>Add Recipe</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>This Is The Add Ingredients Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/recipes/cuisine">Cuisines</a>
		<a href="/users/profile">View Profile</a>
	</nav>
	<main>

		<!-- Need to Display Recipe information here: -->

		<section>
			<ul>
				<!-- ejs goes here -->
				<h3>Recipe Name:</h3>
				<li><%= savedRecipe.name %></li> 
                <h3>Image:</h3>
                <img src="<%= savedRecipe.recipeImg %>"> 
                <h3>Serves:</h3>
                <li><%= savedRecipe.serves %></li> 
                <h3>Cost:</h3>
                <li><%= savedRecipe.cost %></li> 
                <h3>Cuisine Type:</h3>
                <li><%= savedRecipe.cuisineType %></li> 
                <h3>Instructions:</h3>
                <li><%= savedRecipe.instructions %></li> 
			</ul>
		</section>

		<!--  This section will push ingredients into recipe -->
		<section>
			
			<form action="" method="POST">
				<!-- pushing name of ingred and quanttity -->


				<button value="submit">Add</button>
			</form>

		</section>
	</main>
</body>
</html>