<!DOCTYPE html>
<html>
<head>
	<title>Add Recipe</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Recipe Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/recipes/cuisine">Cuisines</a>
		<a href="/recipes/new">Add Recipe </a>
		<a href="/">logout</a>
	</nav>
	<hr/>
	<main>
		<h3> Add Ingredients or Edit Recipe <a href="/recipes/<%= savedRecipe._id %>/edit">here</a></h5>
		<section>
			<ul>
				
				<h4>Recipe Name:</h4>
				<li><%= savedRecipe.name %></li> 
				<h4>Author goes here:</h4>
				
                <h4>Image:</h4>
                <img src="<%= savedRecipe.recipeImg %>"> 
                <h4>Serves:</h4>
                <li><%= savedRecipe.serves %></li> 
                <h4>Cost:</h4>
                <li><%= savedRecipe.cost %></li> 
                <h4>Cuisine Type:</h4>
                <li><%= savedRecipe.cuisineType %></li> 
                <h4>Instructions:</h4>
                <li><%= savedRecipe.instructions %></li> 
                 <h4>Ingredients:</h4>
                 <% for (let i = 0; i < savedRecipe.ingredients.length; i++) { -%>
                 	 <li><%= savedRecipe.ingredients[i].quantity %> of <%= savedRecipe.ingredients[i].name %></li> 

                 <% } -%>
			</ul>
		</section>
	</main>
</body>
</html>