<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Recipe</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>The Roasted Mongoose</h1><br/>
	<nav>
		<a href="/">Home</a>
		<a href="/recipes/cuisine">Cuisines</a>
		<a href="/recipes/new">Add Recipe </a>
		<a href="/users/logout">logout</a>
	</nav>
	<hr/>
	<main>
		<section>
				<h4><%= savedRecipe.name %></h4>
                <img src="<%= savedRecipe.recipeImg%>"> 
                <h4>Serves:</h4>
                <h5><%= savedRecipe.serves%></h5>
                <h4>Cost:</h4>
                <h5><%= savedRecipe.cost %></h5> 
                <h4>Cuisine:</h4>
                <h5><%= savedRecipe.cuisineType %></h5> 
                <h4>Instructions:</h4>
                <h5><%= savedRecipe.instructions %></h5> 
                 <h4>Ingredients:</h4>
                 <% for (let i = 0; i < savedRecipe.ingredients.length; i++) { -%>
                 	 <h5>
                 	 	<%= savedRecipe.ingredients[i].quantity %> of <%= savedRecipe.ingredients[i].name%>	
                 	 </h5> 
                 <% } -%>	
		</section>
		<h3> Add Ingredients or Edit Recipe <a href="/recipes/<%= savedRecipe._id %>/edit">here</a></h5>
	</main>
</body>
</html>